@import url(./main.css);
@import url(./tablas.css);
@import url(./beneficios.css);
@import url(./planes.css);
@import url(./footer.css);


/* Colores */
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;    
}

header {    
    position: relative;
    display: flex;  /* convierte de bloque a linea el contenido  +*/
    flex-direction: column;  /* el contenido se posiciona uno debajo del otro +*/
    justify-content: center;  /* centra entre arriba y abajo (|) +*/
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /* align-self:center = para centrar la imagen porque se rompieron los estilos y la imagen no se centraba, se utiliza porque su padre header contiene display flex  +*/
    align-self: center;
}

.header--title-container {
    /* border: 1px solid rgb(172, 168, 168);     */
    width: 90%; /* Utiliza un width del 90% entre 288px y 900px, una vez que llegue a los 900px deja de crecer */
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;  /* centra la caja hijo, tener en cuenta display flex del padre  +*/
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    /* Queremos que se vaya al centro con el 50% - 115px para que se logre posicionar */
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    /* span = su display por default es in-line y no nos sirve */
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');    
}
